{% extends 'server/index_app.html' %}

{% block app %}
  {% csrf_token %}
  <div id="app"></div>
  {% load static %}
  {% if debug %}
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/ansi-html.js" %}"></script>
    <script src="{% static "js/axios.js" %}"></script>
    <script src="{% static "js/babel.js" %}"></script>
    <script src="{% static "js/clsx.js" %}"></script>
    <script src="{% static "js/core-js.js" %}"></script>
    <script src="{% static "js/css-loader.js" %}"></script>
    <script src="{% static "js/css-vendor.js" %}"></script>
    <script src="{% static "js/date-fns.js" %}"></script>
    <script src="{% static "js/date-io.js" %}"></script>
    <script src="{% static "js/dom-helpers.js" %}"></script>
    <script src="{% static "js/es6-error.js" %}"></script>
    <script src="{% static "js/events.js" %}"></script>
    <script src="{% static "js/history.js" %}"></script>
    <script src="{% static "js/hoist-non-react-statics.js" %}"></script>
    <script src="{% static "js/html-entities.js" %}"></script>
    <script src="{% static "js/hyphenate-style-name.js" %}"></script>
    <script src="{% static "js/invariant.js" %}"></script>
    <script src="{% static "js/is-in-browser.js" %}"></script>
    <script src="{% static "js/is-promise.js" %}"></script>
    <script src="{% static "js/jss-plugin-camel-case.js" %}"></script>
    <script src="{% static "js/jss-plugin-default-unit.js" %}"></script>
    <script src="{% static "js/jss-plugin-global.js" %}"></script>
    <script src="{% static "js/jss-plugin-nested.js" %}"></script>
    <script src="{% static "js/jss-plugin-props-sort.js" %}"></script>
    <script src="{% static "js/jss-plugin-rule-value-function.js" %}"></script>
    <script src="{% static "js/jss-plugin-vendor-prefixer.js" %}"></script>
    <script src="{% static "js/jss.js" %}"></script>
    <script src="{% static "js/lodash.js" %}"></script>
    <script src="{% static "js/loglevel.js" %}"></script>
    <script src="{% static "js/material-ui.js" %}"></script>
    <script src="{% static "js/mini-create-react-context.js" %}"></script>
    <script src="{% static "js/node-libs-browser.js" %}"></script>
    <script src="{% static "js/object-assign.js" %}"></script>
    <script src="{% static "js/popper.js.js" %}"></script>
    <script src="{% static "js/process.js" %}"></script>
    <script src="{% static "js/prop-types.js" %}"></script>
    <script src="{% static "js/querystring-es3.js" %}"></script>
    <script src="{% static "js/react-dom.js" %}"></script>
    <script src="{% static "js/react-google-login.js" %}"></script>
    <script src="{% static "js/react-is.js" %}"></script>
    <script src="{% static "js/react-redux.js" %}"></script>
    <script src="{% static "js/react-router-dom.js" %}"></script>
    <script src="{% static "js/react-router.js" %}"></script>
    <script src="{% static "js/react-transition-group.js" %}"></script>
    <script src="{% static "js/react.js" %}"></script>
    <script src="{% static "js/redux-form.js" %}"></script>
    <script src="{% static "js/redux-thunk.js" %}"></script>
    <script src="{% static "js/redux.js" %}"></script>
    <script src="{% static "js/regenerator-runtime.js" %}"></script>
    <script src="{% static "js/resolve-pathname.js" %}"></script>
    <script src="{% static "js/rifm.js" %}"></script>
    <script src="{% static "js/scheduler.js" %}"></script>
    <script src="{% static "js/sockjs-client.js" %}"></script>
    <script src="{% static "js/style-loader.js" %}"></script>
    <script src="{% static "js/symbol-observable.js" %}"></script>
    <script src="{% static "js/tiny-invariant.js" %}"></script>
    <script src="{% static "js/tiny-warning.js" %}"></script>
    <script src="{% static "js/url.js" %}"></script>
    <script src="{% static "js/value-equal.js" %}"></script>
    <script src="{% static "js/webpack-dev-server.js" %}"></script>
    <script src="{% static "js/webpack.js" %}"></script>
    <script src="{% static "js/runtime.js" %}"></script>
  {% else %}
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/axios.js" %}"></script>
  <script src="{% static "js/babel.js" %}"></script>
  <script src="{% static "js/clsx.js" %}"></script>
  <script src="{% static "js/core-js.js" %}"></script>
  <script src="{% static "js/css-loader.js" %}"></script>
  <script src="{% static "js/css-vendor.js" %}"></script>
  <script src="{% static "js/date-fns.js" %}"></script>
  <script src="{% static "js/date-io.js" %}"></script>
  <script src="{% static "js/dom-helpers.js" %}"></script>
  <script src="{% static "js/es6-error.js" %}"></script>
  <script src="{% static "js/history.js" %}"></script>
  <script src="{% static "js/hoist-non-react-statics.js" %}"></script>
  <script src="{% static "js/hyphenate-style-name.js" %}"></script>
  <script src="{% static "js/invariant.js" %}"></script>
  <script src="{% static "js/is-in-browser.js" %}"></script>
  <script src="{% static "js/is-promise.js" %}"></script>
  <script src="{% static "js/jss-plugin-camel-case.js" %}"></script>
  <script src="{% static "js/jss-plugin-default-unit.js" %}"></script>
  <script src="{% static "js/jss-plugin-global.js" %}"></script>
  <script src="{% static "js/jss-plugin-nested.js" %}"></script>
  <script src="{% static "js/jss-plugin-props-sort.js" %}"></script>
  <script src="{% static "js/jss-plugin-rule-value-function.js" %}"></script>
  <script src="{% static "js/jss-plugin-vendor-prefixer.js" %}"></script>
  <script src="{% static "js/jss.js" %}"></script>
  <script src="{% static "js/lodash.js" %}"></script>
  <script src="{% static "js/material-ui.js" %}"></script>
  <script src="{% static "js/mini-create-react-context.js" %}"></script>
  <script src="{% static "js/object-assign.js" %}"></script>
  <script src="{% static "js/process.js" %}"></script>
  <script src="{% static "js/prop-types.js" %}"></script>
  <script src="{% static "js/react-dom.js" %}"></script>
  <script src="{% static "js/react-google-login.js" %}"></script>
  <script src="{% static "js/react-is.js" %}"></script>
  <script src="{% static "js/react-redux.js" %}"></script>
  <script src="{% static "js/react-router-dom.js" %}"></script>
  <script src="{% static "js/react-router.js" %}"></script>
  <script src="{% static "js/react-transition-group.js" %}"></script>
  <script src="{% static "js/react.js" %}"></script>
  <script src="{% static "js/redux-form.js" %}"></script>
  <script src="{% static "js/redux-thunk.js" %}"></script>
  <script src="{% static "js/redux.js" %}"></script>
  <script src="{% static "js/regenerator-runtime.js" %}"></script>
  <script src="{% static "js/resolve-pathname.js" %}"></script>
  <script src="{% static "js/rifm.js" %}"></script>
  <script src="{% static "js/scheduler.js" %}"></script>
  <script src="{% static "js/style-loader.js" %}"></script>
  <script src="{% static "js/symbol-observable.js" %}"></script>
  <script src="{% static "js/tiny-invariant.js" %}"></script>
  <script src="{% static "js/tiny-warning.js" %}"></script>
  <script src="{% static "js/value-equal.js" %}"></script>
  <script src="{% static "js/webpack.js" %}"></script>
  <script src="{% static "js/runtime.js" %}"></script>
  {% endif  %}
{% endblock %}